#BackCover{
  background-image:url("blobs.svg"); 
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center center; 
  display: flex; 
  align-content: center;
  justify-content: center;
  background-attachment: fixed;

}


#Auth-UI-Parent{
    display: flex;
    justify-content: space-evenly;
    padding-top:200px;
    padding-bottom:200px;
  }
  
  #Auth-UI-Title{
    margin: 8px;
  }

  #Auth-UI-Card{
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;
    align-self: center;
    
  }