#Send_Link_Button{
    margin: 5px;
}

#email_feild{
    margin: 5px;
}

#View-Post{
  align-items: end;
}
#Post-title{
  display: block;
  width: 35ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#Post-content{
  display: block;
  max-height: 45px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  }
  

#Post-UI-Card{
    margin: 8px;
    margin-bottom: 25px;
}


#Post-UserName{
  align-self: center;
}

#Feed_Container{
align-items: center;
}

#Post-Avatar{
  margin: 4px;
  margin-left: 0px;
}
